:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1rem;
	text-align: center;
}

.calc {
	margin: auto;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(4, 1fr);
}

.el {
	padding: 1rem 2rem;
	background-color: white;
	color: black;
	text-align: center;
	font-size: 2rem;
	transition: all 0.2s ease-in-out;
	user-select: none;
}

.el:hover {
	background-color: rebeccapurple;
	color: aliceblue;
	transition: all 0.2s ease-in-out;
}

.el:first-child {
	border-top-left-radius: 30px;
}

.el:nth-child(4) {
	border-top-right-radius: 30px;
}

.el:nth-child(17) {
	border-bottom-left-radius: 30px;
}

.el:last-child {
	border-bottom-right-radius: 30px;
}

.input {
	min-height: 3.6rem;
	margin: auto;
	text-align: right;
	font-size: 2.5rem;
	margin-bottom: 1rem;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
